@tailwind base;
@tailwind components;
@tailwind utilities;

.my-color {
	color: white;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: black;
	animation: gradient 5s ease infinite;
	
}

.my-root-class body {
	background:black;
	height: 100vh;
}

.kcFormCardClass{
	border-radius: 5rem;
	min-width:50dvw;
}

.kcInputClass{
	border-radius: 1rem;
	min-width:20dvw;
	min-height:5dvh;
}


@keyframes gradient {
	0% {
	background-position: 0% 50%;
	}
	50% {
	background-position: 100% 50%;
	}
	100% {
	background-position: 0% 50%;
	}
}